.nav_company {
  padding: 0;
  margin: 0;
}
.nav_company li {
  padding: 20px 0;
}
.nav_company p {
  padding: 0 20px;
  margin: 0;
  position: relative;
}
.nav_company-bottom {
  padding-bottom: 40px !important;
}

.nav_company-border:after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -20px;
  z-index: 1;
  border-bottom: 1px solid rgb(211, 211, 211);
}
.nav_company-active .nav_company-border {
  color: var(--text);
  border-left: 3px solid var(--primary);
}

@media screen and (max-width: 992px) {
  .nav_company {
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }
}
